<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/landing-bg.svg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Learn To Drive With Confidence</h1>
            <h3>Attain your licence with ease</h3>
            <br />
            <a href="" class="btn btn-outline-neutral btn-round"><i class="fa fa-calendar"></i>Book Now</a>
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Our Features</h2>
                <h5 class="description"></h5>
                <br>
            </div>
        </div>
        <br/><br/>
    
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-hat-3"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Driving Lessons</h4>
                        <p class="description"></p>
                        <p>We have lessons that cater your needs whether you are a complete beginner or have experience behind the wheel.</p>
                        <a href="#pkp" class="btn btn-link btn-danger"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Driver Confidence</h4>
                        <p>We build your confidence on road whether it is local streets or highway.</p>
                        <a href="#pkp" class="btn btn-link btn-danger"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Certified Driving Instructor</h4>
                        <p> Licensed under SA </p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-world-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Multilingual</h4>
                        <p>English</p>
                        <p>ਪੰਜਾਬੀ </p>
                        <p>हिन्दी </p>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Jagjit Karwal</h4>
                                <h6 class="card-category">Certified Driving Instructor</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="tel:+61420295855" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-phone"></i></a>
                        <a href="mailto:info@attaindriving.school" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

    
</div>
