<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Basic Components</h2>
        </div>
        <div id="buttons">
            <div class="tim-title">
                <h3>Buttons
                    <br/>
                    <small>Pick your style</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-danger">Default</button>
                    <button type="button" class="btn btn-danger btn-round">Round</button>
                    <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> With Icon</button>
                    <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-danger btn-link">Simple</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your size</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-danger btn-sm">Small</button>
                    <button type="button" class="btn btn-outline-danger">Regular</button>
                    <button type="button" class="btn btn-outline-danger btn-lg">Large</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your color</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-default btn-round">Default</button>
                    <button type="button" class="btn btn-outline-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-outline-info btn-round">Info</button>
                    <button type="button" class="btn btn-outline-success btn-round">Success</button>
                    <button type="button" class="btn btn-outline-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-outline-danger btn-round">Danger</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-default btn-round">Default</button>
                    <button type="button" class="btn btn-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-info btn-round">Info</button>
                    <button type="button" class="btn btn-success btn-round">Success</button>
                    <button type="button" class="btn btn-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-danger btn-round">Danger</button>
                </div>
            </div>
        </div>
            <br/>
        <div class="tim-title">
            <h3>Links</h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#0" class="btn btn-link btn-default">Default</a>
                <a href="#0" class="btn btn-link btn-primary">Primary</a>
                <a href="#0" class="btn btn-link btn-success">Success</a>
                <a href="#0" class="btn btn-link btn-info">Info</a>
                <a href="#0" class="btn btn-link btn-warning">Warning</a>
                <a href="#0" class="btn btn-link btn-danger">Danger</a>
                <a href="#0" class="btn btn-link btn-neutral">Neutral</a>
            </div>
        </div>
        <br/>
        <div class="tim-title">
            <h3>Inputs</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <input type="text" class="form-control form-control-success" id="inputSuccess1" value="Success">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-danger">
                    <input type="text" class="form-control form-control-danger" id="inputDanger1" value="Error">
                    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-group" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Checkboxes</h3>
                </div>
                <div class="checkbox">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">
                        Unchecked
                    </label>
                </div>
                <div class="checkbox">
                   <input id="checkbox2" type="checkbox" checked="">
                   <label for="checkbox2">
                        Checked
                    </label>
                 </div>
                <div class="checkbox">
                    <input id="checkbox3" type="checkbox" disabled="">
                    <label for="checkbox3">
                        Disabled unchecked
                    </label>
                </div>
                <div class="checkbox">
                   <input id="checkbox4" type="checkbox" checked="" disabled="">
                   <label for="checkbox4">
                       Disabled checked
                   </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Radio Buttons</h3>
                </div>
                <div class="radio">
                    <input type="radio" name="radio1" id="radio1" value="option1">
                    <label for="radio1">
                        Radio is off
                    </label>
                </div>

                <div class="radio">
                    <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                    <label for="radio2">
                        Radio is on
                    </label>
                </div>

                <div class="radio">
                    <input type="radio" name="radio3" id="radio3" value="option3" disabled="">
                    <label for="radio3">
                        Disabled radio is off
                    </label>
                </div>

                <div class="radio">
                    <input type="radio" name="radio4" id="radio4" value="option4" checked="" disabled="">
                    <label for="radio4">
                        Disabled radio is on
                    </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Toggle Buttons</h3>
                </div>
                <bSwitch
                    [switch-on-color]="'primary'">
                </bSwitch>
                <bSwitch
                    [switch-on-color]="'primary'"
                    [(ngModel)]="state_default"> Toggle is off
                </bSwitch>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Sliders</h3>
                </div>
                <nouislider [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="simpleSlider" [tooltips]="false" class="slider"></nouislider>
                <br>
                <nouislider class="slider slider-info" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="false"></nouislider>
            </div>
        </div>
    </div>
</div>
