<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Jane Faker<br /></h4>
                    <h6 class="description">Music Producer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Follows</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#following" role="tab">Following</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content following">
                <div class="tab-pane active" id="follows" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <ul class="list-unstyled follows">
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 offset-md-0">
                                            <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-7 col-xs-4">
                                            <h6>Flume<br/><small>Musical Producer</small></h6>
                                        </div>
                                        <div class="col-md-3 col-xs-2">
                                            <div class="unfollow" >
                                                <div class="checkbox">
                                                   <input id="checkbox1" type="checkbox" checked="">
                                                   <label for="checkbox1"></label>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <hr />
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 offset-md-0">
                                            <img src="../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-7 col-xs-4">
                                            <h6>Banks<br /><small>Singer</small></h6>
                                        </div>
                                        <div class="col-md-3 col-xs-2">
                                            <div class="unfollow" >
                                                <div class="checkbox">
                                                   <input id="checkbox2" type="checkbox" checked="">
                                                   <label for="checkbox2"></label>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center" id="following" role="tabpanel">
                    <h3 class="text-muted">Not following anyone yet :(</h3>
                    <button class="btn btn-warning btn-round">Find artists</button>
                </div>
            </div>
        </div>
    </div>
</div>
